.description__details {
  font-size: 16px;
  line-height: 26px;
  color: #353535;
  text-align: left;
}

.description__mainBox {
  display: flex;
  width: 70%;
}

.description__image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 12px;
}

.description__price {
}

.description_priceLabel {
  font-weight: 300;
}
.description_currency {
  font-weight: 300;
}
